# App
NODE_ENV=example
PORT=8001
APP_NAME="Uptime Monitor"
LANG_CODE=en
JWT_SECRET_KEY=secret_key_dev
CSRF_SECRET_KEY=csrf_key_dev
HTTP_CACHE_TTL=5
HTTP_CACHE_MAX=1000000
ALLOWED_ORIGINS=*

ENABLE_SCHEDULING=false

# Business
TIMEZONE=UTC
WEBSITE_DOWNTIME_PERIOD=60000
HOST_STARTUP_THRESHOLD=180000
HOST_RESTART_ATTEMPTS=2
API_RETRY_ATTEMPTS=2
API_TOKEN=""
NOTIFICATION_AVATAR_URL=""

# Sentry
SENTRY_DSN=https://example
SENTRY_AUTH_TOKEN=""

## API Doc
SWAGGER_NAME="admin"
SWAGGER_PASS="admin"

# Website 1 Configs
WEBSITE_1_WEBSITE_NAME=Site1
WEBSITE_1_WEBSITE_URL=https://example.com
WEBSITE_1_INSTANCE_ID=host-1 # instanceID of host providers or passing any or "custom-host-1" for custom host provider, note: shouldn't be the same id with other website config
WEBSITE_1_HOST_PROVIDER=aws # or gcp or azure or oci or custom
WEBSITE_1_AWS_ACCESS_KEY_ID=your-aws-access-key-1
WEBSITE_1_AWS_SECRET_ACCESS_KEY=your-aws-secret-key-1
WEBSITE_1_AWS_REGION=us-east-1
WEBSITE_1_ENABLE_EMAIL=true
WEBSITE_1_EMAIL_HOST=smtp.example.com
WEBSITE_1_EMAIL_PORT=587
WEBSITE_1_EMAIL_TO=admin1@example.com,support1@example.com
WEBSITE_1_EMAIL_PASS=pass1
WEBSITE_1_EMAIL_FROM=monitor1@example.com
WEBSITE_1_ENABLE_SMS=true
WEBSITE_1_TWILIO_ACCOUNT_SID=your-twilio-sid-1
WEBSITE_1_TWILIO_AUTH_TOKEN=your-twilio-token-1
WEBSITE_1_TWILIO_PHONE_NUMBER=+1234567890
WEBSITE_1_SMS_RECEIVER_NUMBER=+1234567890,+0987654321
WEBSITE_1_ENABLE_WEBHOOK=true
WEBSITE_1_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/test1,https://discord.com/api/webhooks/test2,https://discord.com/api/webhooks/test2,https://discord.com/api/webhooks/test3
WEBSITE_1_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/test1,https://hooks.slack.com/services/test1,https://hooks.slack.com/services/test2,https://hooks.slack.com/services/test3
WEBSITE_1_TEAMS_WEBHOOK_URL=https://yourtenant.webhook.office.com/webhookb2/test1@your-tenant-id/IncomingWebhook/test2,https://yourtenant.webhook.office.com/webhookb2/test2@your-tenant-id/IncomingWebhook/test3
WEBSITE_1_QUEUE_TYPE=rmq,kafka
WEBSITE_1_RABBITMQ_BROKER=amqp://localhost:5672
WEBSITE_1_KAFKA_BROKER=localhost:9092

# Website 2 Configs
WEBSITE_2_WEBSITE_NAME=Site2
WEBSITE_2_WEBSITE_URL=https://example.org
WEBSITE_2_INSTANCE_ID=host-2
WEBSITE_2_HOST_PROVIDER=gcp
WEBSITE_2_GCP_PROJECT_ID=your-gcp-project-id-2
WEBSITE_2_GCP_CLIENT_EMAIL=your-gcp-client-email-2
WEBSITE_2_GCP_PRIVATE_KEY=your-gcp-private-key-2
WEBSITE_2_GCP_ZONE=us-central1-a
WEBSITE_2_ENABLE_EMAIL=true
WEBSITE_2_EMAIL_HOST=smtp.gmail.com
WEBSITE_2_EMAIL_PORT=465
WEBSITE_2_EMAIL_TO=admin2@example.com
WEBSITE_2_EMAIL_PASS=pass2
WEBSITE_2_EMAIL_FROM=monitor2@gmail.com
WEBSITE_2_ENABLE_SMS=false
WEBSITE_2_ENABLE_WEBHOOK=false
WEBSITE_2_QUEUE_TYPE=kafka
WEBSITE_2_KAFKA_BROKER=localhost:9092

# Website 3 Configs
WEBSITE_3_WEBSITE_NAME=Site3
WEBSITE_3_WEBSITE_URL=https://example.org
WEBSITE_3_INSTANCE_ID=host-3
WEBSITE_3_HOST_PROVIDER=custom
WEBSITE_3_CUSTOM_RESTART_COMMAND=ssh user@example.com "kubectl rollout restart deployment/my-app -n my-namespace && echo 'Deployment restart initiated'"
WEBSITE_3_CUSTOM_CHECK_TRANSITIONAL_STATUS_COMMAND=ssh user@example.com "kubectl get pod -n my-namespace -l app=my-app -o jsonpath='{.items[0].status.phase}' | grep -q 'Running' && echo 'false' || echo 'true'"
WEBSITE_3_ENABLE_EMAIL=true
WEBSITE_3_EMAIL_HOST=smtp.gmail.com
WEBSITE_3_EMAIL_PORT=465
WEBSITE_3_EMAIL_TO=admin3@example.com
WEBSITE_3_EMAIL_PASS=pass3
WEBSITE_3_EMAIL_FROM=monitor3@gmail.com
WEBSITE_3_ENABLE_SMS=false
WEBSITE_3_ENABLE_WEBHOOK=false
WEBSITE_3_QUEUE_TYPE=kafka
WEBSITE_3_KAFKA_BROKER=localhost:9092

# Website 4 Configs
WEBSITE_5_WEBSITE_NAME=Site4
WEBSITE_4_WEBSITE_URL=https://example.org
WEBSITE_4_INSTANCE_ID=host-4
WEBSITE_4_HOST_PROVIDER=custom
WEBSITE_4_CUSTOM_RESTART_COMMAND=ssh user@example.com "docker restart my-container && echo 'Container restart initiated'"
WEBSITE_4_CUSTOM_CHECK_TRANSITIONAL_STATUS_COMMAND=ssh user@example.com "docker inspect -f '{{.State.Restarting}}' my-container | grep -q 'true' && echo 'true' || echo 'false'"
WEBSITE_4_ENABLE_EMAIL=true
WEBSITE_4_EMAIL_HOST=smtp.gmail.com
WEBSITE_4_EMAIL_PORT=465
WEBSITE_4_EMAIL_TO=admin3@example.com
WEBSITE_4_EMAIL_PASS=pass4
WEBSITE_4_EMAIL_FROM=monitor4@gmail.com
WEBSITE_4_ENABLE_SMS=false
WEBSITE_4_ENABLE_WEBHOOK=false
WEBSITE_4_QUEUE_TYPE=kafka
WEBSITE_4_KAFKA_BROKER=localhost:9092


# Website 5 Configs
WEBSITE_5_WEBSITE_NAME=Site5
WEBSITE_5_WEBSITE_URL=https://example.org
WEBSITE_5_INSTANCE_ID=host-5
WEBSITE_5_HOST_PROVIDER=custom
WEBSITE_5_CUSTOM_RESTART_COMMAND=ssh user@example.com "sudo systemctl restart my-service && echo 'Service restart initiated' && sleep 3 && sudo systemctl is-active my-service"
WEBSITE_5_CUSTOM_CHECK_TRANSITIONAL_STATUS_COMMAND=ssh user@example.com "sudo systemctl is-active my-service | grep -q 'active' && echo 'false' || echo 'true'"
WEBSITE_5_ENABLE_EMAIL=true
WEBSITE_5_EMAIL_HOST=smtp.gmail.com
WEBSITE_5_EMAIL_PORT=465
WEBSITE_5_EMAIL_TO=admin3@example.com
WEBSITE_5_EMAIL_PASS=pass5
WEBSITE_5_EMAIL_FROM=monitor5@gmail.com
WEBSITE_5_ENABLE_SMS=false
WEBSITE_5_ENABLE_WEBHOOK=false
WEBSITE_5_QUEUE_TYPE=kafka
WEBSITE_5_KAFKA_BROKER=localhost:9092